{% extends "djapp/base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body class="text-center">
    {% block title_block %}
        <h1>Student Details Screen</h1>
        <hr />
        <a class="btn btn-success" href="{% url 'home' %}" class="card-link">Back</a>

    {% endblock %}
    {% block main_block %}
        <div class="card" style="width: 18rem; margin: 0 auto;">
            <div class="card-body">
                <h5 class="card-title">{{ st.fname }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ st.lname }}</h6>
                <p class="card-text">Age: {{ st.age }}</p>
                <p class="card-text">Graduated: {{ st.is_adult }}</p>
                <p class="card-text">Track: {{ st.student_track }}</p>
                <td><a class="btn btn-danger" href = "{% url 'del' st.id %}">Delete</a></td>
                <!-- <a href="{% url 'home' %}" class="card-link">Back</a> -->
            </div>
        </div>
    {% endblock %}
    

    
</body>
</html>